h1,
h2 {
    color: #fbd784;
    font-family: "redhat";
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-bottom: 27px;
}
h3 {
    color: #fff;
    font-family: "georgia";
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 27px;
    max-width: 555px;
}
p,
a {
    color: #fff;
    font-family: "redhat";
    font-size: 18px;
    line-height: 32px;
}
a {
    font-weight: 500;
    text-decoration: none;
}
p {
    font-weight: 700;
    margin-bottom: 27px;
    max-width: 632px;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    color: #fbd784;
    font-family: "redhat";
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    list-style: none;
}
